<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NumberConversionSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="NumberConversionSoapBinding1" />
        <binding name="CalculatorSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="NumberConversionSoapBinding12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://www.dataaccess.com/webservicesserver/NumberConversion.wso"
        binding="basicHttpBinding" bindingConfiguration="NumberConversionSoapBinding"
        contract="numberToWord.NumberConversionSoapType" name="NumberConversionSoap" />
      <endpoint address="https://www.dataaccess.com/webservicesserver/NumberConversion.wso"
        binding="customBinding" bindingConfiguration="NumberConversionSoapBinding12"
        contract="numberToWord.NumberConversionSoapType" name="NumberConversionSoap12" />
      <endpoint address="http://localhost:13431/Calculator.asmx" binding="basicHttpBinding"
        bindingConfiguration="CalculatorSoap" contract="Calculator.CalculatorSoap"
        name="CalculatorSoap" />
    </client>
  </system.serviceModel>
</configuration>